.ipynb_checkpoints/Data_Science_Day_1_Exercises-Day1- Homework-checkpoint.ipynb
.ipynb_checkpoints/Data_Science_Day_1_Numpy_CSV_v2_ND_Lecture-Updated-checkpoint.ipynb
Data_Science_Day_1_Numpy_CSV_v2_ND_Lecture-Updated.ipynb
